@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #005cac;
  --color-brand-light: #1975d2;
  --color-brand-dark: #004787;

  --color-app-bg: #f5f7fa;
  --color-app-bg-dark: #111921;
  --color-card: #ffffff;
  --color-card-dark: #181c22;

  --color-input-bg: #f8fafc;
  --color-border: #e2e8f0;
  --color-border-dark: #414752;

  --color-text-main: #0f172a;
  --color-text-muted: #64748b;

  --color-success: #10b981;
  --color-success-light: #d1fae5;
  --color-error: #ba1a1a;
  --color-error-light: #ffdad6;
  --color-warning: #d97706;

  --font-sans: 'Inter', sans-serif;
}
